.quantitycontainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.quantitybutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #00004d;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.quantitydisplay {
  font-size: 18px;
}
.removebutton {
  border: #00004d;
  border: none;
  border-bottom: solid 2px;
  background: none;
}
