/* Container for the form */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 390px; */
  margin: 0 auto;
  font-size: 13px;
  font-weight: 700;
  padding: 1px;
  width: 550px;
  /* height: 400px; */
  
}

/* Title styling */
.title {
  color: #00193b;
  font-size: 32px;
  font-family: "Archivo", sans-serif;
  text-align: center;
  margin-bottom: 24px;
}

/* Form styling */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Label styling */
.label {
  color: #8d8d99;
  font-size: 16px;
  margin-top: 16px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  text-align: left;
}

/* Input field styling */
.input {
  border-radius: 7px;
  background-color: #fff;
  margin-top: 4px;
  width: 100%;
  font-family: "Archivo", sans-serif;
  color: #8d8d99;
  font-weight: 400;
  padding: 12px 21px;
  border: 1px solid #e2e1e1;
  box-sizing: border-box;
}

/* Password container to include the icon */
.passwordContainer {
  display: flex;
  align-items: center;
  margin-top: 4px;
  position: relative;
}

/* Password icon placeholder */
.passwordIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

/* Forgot password link */
.forgotPassword {
  color: #035ecf;
  text-align: center;
  margin-top: 14px;
  font-size: 12px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}

/* Submit button styling */
.submitButton {
  border-radius: 19px;
  background-color: #00ba9d;
  box-shadow: 0 1px 8px rgba(2, 202, 171, 0.355);
  margin-top: 20px;
  font-family: "Archivo", sans-serif;
  color: #fff;
  padding: 12px 70px;
  text-align: center;
  border: 1px solid #01c8a9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #01c8a9;
}

/* Visually hidden class */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
