.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 38px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.freeShippingMessage {
  background-color: #ffd700;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-weight: thin;
  font-size: 15px;
  margin-bottom: 20px;
  color: #290e64;
}

.content {
  text-align: center;
}

.contentdetail {
  text-align: left;
}

.quantityLabel {
  font-size: 14px;
  color: #220d4e;
  margin-bottom: 10px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.checkoutButton {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.checkoutButton:hover {
  background-color: #555;
}

.footer {
  margin-top: 10px;
  padding: 0.5;
  font-size: 13px;
  color: #290e64;
}

/* Media Queries for responsiveness */

/* For tablets and small desktops */
@media (max-width: 1024px) {
  .card {
    width: 50%;
    padding: 24px;
  }

  .price {
    font-size: 24px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .card {
    width: 86%;
    padding: 20px;
  }

  .freeShippingMessage {
    font-size: 14px;
  }

  .quantityLabel {
    font-size: 12px;
  }

  .price {
    font-size: 22px;
  }

  .footer {
    font-size: 12px;
  }

  .checkoutButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* For small mobile devices */
@media (max-width: 480px) {
  .card {
    width: 96%;
    padding: 16px;
  }

  .price {
    font-size: 20px;
  }

  .checkoutButton {
    padding: 8px 12px;
    font-size: 13px;
  }

  .footer {
    font-size: 11px;
  }
}
