.buttoncheckout{
    padding: 12px;
    background-color: #220d4e;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight:bold;
    color: white;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}