// ttlte for the main heading
.main-title {
  background-color: $white;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: $shadow; // Small shadow
  margin-bottom: 3rem;
}
