.login {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__logo-container {
    background-color: $color-yellow;
    @include flex(center);

    & img{
      width:20rem;
    }
  }

  &__form-container {
    @include flex(center);
  }
}

