.sidebar {
  height: 100vh;
  width: $sidebar-width;
  background-color: $white;
  box-shadow: 1px 0px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &__logo-container {
    height: 8em;
    @include flex(center);
  }

  & nav {
    width: 100%;
    width: 100%;
    padding: 1rem;
    & ul {
      width: 100%;

      border-bottom: 1px solid $light-gray;
    }

    & li {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      border-radius: 10px;
      font-weight: 700;
      margin: 1rem 0;
    }
  }
}

.nav-link {
  background-color: yellow;
}
